﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="swapspace" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Swap Space</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>SwapSpace <small>v0.2</small></h1>
    </div>
    <div class="container" ng-controller="HomeCtrl">
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <form ng-submit="submit()">
                        <div class="form">
                            <div class="form-group">
                                <label>Your Email:</label>
                                <input type="email" required class="form-control" ng-model="form.Email" />
                            </div>
                            <div class="form-group">
                                <label>Phone Number:</label>
                                <input type="text" class="form-control" maxlength="20" ng-model="form.PhoneNumber" />
                            </div>
                            <div class="form-group">
                                <label>Course:</label>
                                <select ui-select2 ng-required="true" class="form-control" ng-model="form.CourseId" required data-placeholder="Pick a Course">
                                    <option ng-repeat="course in courses" value="{{course.Code}}">{{course.Name}}</option>
                                </select>
                                @*<input type="text" ng-model="form.CourseId" maxlength="5" class="form-control" required />*@
                            </div>
                            <div class="form-group">
                                <label>Your current Section:</label>
                                <input type="text" ng-model="form.FromSection" maxlength="1" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>The section you want:</label>
                                <input type="text" ng-model="form.ToSection" maxlength="1" class="form-control" required />
                            </div>
                            <input type="submit" ng-disabled="disabled" value="Submit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="alert alert-info" ng-show="alert">
            {{alert}}
        </div>
        <div class="row" ng-show="matches">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="match in matches">
                        <td>{{match.Email}}</td>
                        <td>{{match.PhoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54021629-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
